

<div class=".col-xs-12 .col-sm-6 .col-sm-offset-3 col-md-4 col-md-offset-4" style="text-align: center;">
  <div class="frame_invisible">
    <div style="margin-top:40px;margin-bottom: 20px;">
      <div>
        <%= image_tag "RealityCheck_logo_png_format.png", style: "width: 50%;height:auto;" %>
      </div>
    </div> 
    <div>
      <p style="font-size:35px;display:inline-block;">Are you a</p><p style="font-size:35px;display:inline-block;color: #9013fe;margin-left:8px;"> sexpert?</p>
    </div>
    <div style="margin-top: 80px;">
      <%= link_to 'Take the Quiz', new_result_path, class: "btn btn-default btn_quiz" %>
    </div>
    <div style="margin-top: 20px;">
      <a href="#" 
              onclick="
                window.open(
                  'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
                  'facebook-share-dialog', 
                  'width=626,height=436'); 
                return false;">
        <%= image_tag "http://icons.iconarchive.com/icons/icontexto/social-inside/256/social-inside-facebook-icon.png", style: "width: 20%;height:auto;" %>
      </a>
    </div>
  </div>
</div>

<!--
<a href="javascript:void(0);"><button class="btn btn-next">&rarr;</button></a>
</h4>
-->