<div style="clear: both;margin-top: 20%;position:relative;"></div>
<div style="text-align: center;position:relative;">
  <p>Is using 2 condoms safer?</p> 
  <div class="btn-group">
    <button data-toggle="dropdown" class="btn btn-primary" data-placeholder="true">True or False?</button>
    <ul class="dropdown-menu dropdown-menu1" role="menu">
      <li><a href="javascript:void(0)"><button id="true1" value="true">true</button></a></li>
      <li><a href="javascript:void(0)"><button id="false1" value="false">false</button></a></li>
    </ul>
  </div>
</div>

<div style="clear: both;margin-top: 10px;position:relative;"></div>
<div style="text-align: center;position:relative;">
  <p>Sex is abstinence?</p> 
  <div class="btn-group">
    <button data-toggle="dropdown" class="btn btn-primary" data-placeholder="true">True or False?</button>
    <ul class="dropdown-menu dropdown-menu1" role="menu">
      <li><a href="javascript:void(0)"><button id="true2" value="true">true</button></a></li>
      <li><a href="javascript:void(0)"><button id="false2" value="false">false</button></a></li>
    </ul>
  </div>
</div>

<!--
<a href="javascript:void(0);"><button class="btn btn-next">&rarr;</button></a>
</h4>
-->