<div class="col-md-10 col-md-offset-1" style="margin-top:10%;">
	<p>
		<strong>Age:</strong>
		<%= @result.age %>
	</p>
	<p>
		<strong>School:</strong>
		<%= @result.school %>
	</p>
	<p>
		<strong>Zip code:</strong>
		<%= @result.zip_code %>
	</p>
	<p>
		<strong>Score:</strong>
		<%= @result.score %>
	</p>
</div>