// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 html, body, div, span, h1, h2, h3, h4, h5, h6, p, code, small, strike, strong, sub, sup, b, u, i {
      border:0;
      font-size:100%;
      font:inherit;
      vertical-align:baseline;
      margin:0;
      padding:0;
  }
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
      display:block;
  }
  body {
      line-height:1;
      font-family: 'Source Sans Pro', sans-serif;
      // background: image-url('RealityCheckbg1.png') fixed;
      background: #939EC3;
  }
  ol, ul {
      list-style:none;
  }
  strong {
      font-weight:700;
  }
  #frame {
      //max-width:620px;
      width:auto;
      height: auto;
      background:#fff;
      padding:10px;
      margin:0px;
      clear: both;
      margin-top: 20px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      box-shadow: 3px 3px 5px #444;
  }
  .frame {
      //max-width:620px;
      width:auto;
      background:#fff;
      padding:10px;
      margin:0px;
      clear: both;
      margin-top: 20px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      box-shadow: 3px 3px 5px #444; }
      .frame h3 {
        font-size: 28px;
        margin: 15px; }

  .center {
      text-align: center;
      float: center;
  }

  .frame_invisible {
      //max-width:620px;
      width:auto;
      background:none;
      padding:10px;
      margin:0px;
      clear: both;
      margin-top: 20px;  }

  h1 {
      text-align:center;
      //border-bottom:1px solid #999;
      padding:0;
      width:auto
  }
  h2 {
      padding:0;
      text-align:center;
      margin:20px 0;
      color: #000;
      font-size: 18px;
  }
  p.pager {
      margin:5px 0 5px;
      color:#000;
  }
  img.question-image {
      display:block;
      max-width:250px;
      margin:10px auto;
      border:1px solid #ccc;
      width:100%;
      height:auto;
  }
  #choice-block {
    display:block;
    list-style:none;
    margin:0;
    padding:0;
    left: 1%;
    margin-bottom: 3%;
    position: relative; }
    #choice-block li {
      display: inline-block;
      width: 48%;
      background: #F6E11E;
      padding: 20px;
      border: none;
      box-shadow: 1px 1px 2px #444;
      }
      #choice-block li:first-child {
         margin-right: 1%; }
      #choice-block li:last-child {
        margin-left: 1%; }

  #submitbutton {
      background:#5a6b8c;
  }
  #submitbutton:hover {
      background:#7b8da6;
  }
  #explanation {
      margin:0 auto;
      padding:20px;
      width:75%;
  }
  .choice-box {
      display:block;
      text-align:center;
      margin:1% auto;
      padding:10px 0;
      cursor:pointer;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      width: 98%;
      border: none;
      box-shadow: 1px 1px 2px #444;
  }

  #submit_results {
  	display: none;
    position: relative;
    text-align: center;
    //top: -50px; 
  }

  .inline {
    display: inline-block;
  }

  .btn_quiz {
    background: #F6E11E;
    border: none;
    font-size: 18px;
    padding: 10px 30px; }
    .btn_quiz:hover {
      background: #CABC38; }
